*{
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}


.bold{
  font-size: 2em;
  background-color: darkcyan;
  border: 2px double darkorange;
  border-radius: 2px;
  margin: 35px auto 35px auto;
}

.quotes{
  margin: 30px auto 30px auto;
}
